{% extends 'base.html' %}
{% load static %}
{% block content%}
<!-- Hero Area Start -->
  {% include 'hero.html' %}
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- Services Section Start -->
    {% include 'service.html' %}
    <!-- Services Section End -->

    <!-- About Section start -->
    {% include 'about.html' %}
    <!-- About Section End -->

    <!-- Features Section Start -->
    {% include 'features.html' %}
    <!-- Features Section End -->

    <!-- Team Section Start -->
    {% include 'teamsection.html' %}
            <!-- Team Item Ends -->
    {%include 'teamItem.html'%}
            <!-- Team Item Ends -->

          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            {%include 'teamitem2.html'%}
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            {%include 'teamitem3.html'%}
            <!-- Team Item Ends -->
          </div>
        </div>
      </div>
    </section>
    <!-- Team Section End -->

    <!-- Pricing section Start -->
    {%include 'pricing.html'%}
    <!-- Pricing Table Section End -->

    <!-- Testimonial Section Start -->
   {%include 'testional.html'%}

    <!-- Testimonial Section End -->

    <!-- Call To Action Section Start -->
    {%include 'CtAS.html'%}
    <!-- Call To Action Section Start -->

    <!-- Contact Section Start -->
    {%include 'contact.html' %}
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
   {%include 'footer.html' %}
    <!-- Footer Section End -->
  {% endblock %}
